* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
#sec {
    width: 100vw;
    height: 30vh;
    background: linear-gradient(45deg, rgb(211, 128, 186), rgb(124, 124, 235));
}
#todoInput {
    width: 300px;
    /* border: none; */
}